.header
{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0;

  .header-title{
    grid-row: 1;
    grid-column: 1;
  }

  .header-info{
    grid-row: 1;
    grid-column: 1;
    font-size: 1rem;
    font-weight: normal;
    margin-top: .5rem;
    text-align: right;
    margin-right: 1rem;
  }
}

.log-container{
  border: 1px solid #ccc;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.add-log-container{
  border: 1px solid #ccc;
  display: grid;
  grid-template-areas: 'title message'
                       'date message'
                       'file message'
                       'button message';
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto auto auto;
  gap: 1rem 2rem;
  padding: 1rem;
}



.title-input{
  grid-area: title;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 0.5rem;
  width: 100%;
}

.date-input{
  grid-area: date;
  font-size: 1.1rem;
  font-weight: semibold;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 0.5rem;
  width: 100%;
}

.message-input{
  grid-area: message;
  font-size: 1.1rem;
  /* font-weight: semibold; */
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 0.5rem;
  width: 100%;
}

.add-log-button{
  grid-area: button;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 100%;
}

.file-input{
  grid-area: file;
  font-size: 1.0rem;
  font-weight: semibold;
  border: none;
  padding: 0.5rem;
  width: 100%;
}

.add-log-button:hover{
  background-color: #45a049;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}